@keyframes animateZoomImg {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

#container_ImageZoom {
    animation-name: animateZoomImg;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    z-index: 6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    #areaImageZoom {
        z-index: 7;
        overflow-y: scroll;
        width: 90%;
        top: 0;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    #closeBtnImageZoom {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: right;
        right: 44px;
        i {
            z-index: 6;
            position: absolute;
            color: white;
            cursor: pointer;
            position: relative;
            padding: 2px 8px;
            border-radius: 50px;
            top: 20px;
            left: 14px;
            transition: 0.1s;
            &:hover {
                color: red;
            }
        }
    }
    #overlayImageZoom {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.areaPlan {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .session1 {
        .titleText {
            margin-top: 160px;
            text-align: center;
            width: 100%;
            p {
                font-size: 42px;
                font-weight: 300;
            }
        }
        .textSelect {
            margin-top: 50px;
            text-align: center;
            p {
                letter-spacing: 2px;
                font-size: 18px;
            }
        }
        .btnSelect {
            margin-top: 28px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                height: 42px;
                width: 120px;
                margin: 0 10px;
                background-color: $colorOrange;
                color: white;
                transition: 0.2s ease-in-out;
                border-radius: 5px;
                font-size: 16px;
                &:hover {
                    transform: scale(1.06, 1.06);
                    background-color: $colorOrange - 40;
                }
            }
        }
    }
    .session2 {
        .plan {
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1rem;
            row-gap: 1rem;
            .item {
                border-radius: 5px;
                padding: 8px;
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    max-width: 340px;
                    background-color: $colorDark + 48;
                    height: 34px;
                    border-radius: 5px 5px 0 0;
                    font-size: 15px;
                    text-align: center;
                    color: $colorWhite;
                }
                img {
                    cursor: pointer;
                    box-shadow: $boxShadow;
                    background: $colorWhite;
                    max-width: 340px;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 280px) and (max-width: 420px) {
    #container_ImageZoom {
        #areaImageZoom {
            overflow: hidden !important;
            width: 100% !important;
            top: 0 !important;
            max-height: 100% !important;
        }
        #closeBtnImageZoom {
            display: none !important;
            // width: 100% !important;
            // text-align: right !important;
            // // right: 14px;
            // i {
            //     font-size: 14px !important;
            //     padding: 2px 8px !important;
            //     border-radius: 50px !important;
            //     top: 140px !important;
            //     // right: -44px !important;
            // }
        }
    }
    .session1 {
        .titleText {
            margin-top: 120px !important;
            width: 100% !important;
            p {
                font-size: 28px !important;
                font-weight: 300 !important;
            }
        }
        .textSelect {
            margin-top: 50px !important;
            p {
                letter-spacing: 2px !important;
                font-size: 16px !important;
            }
        }
        .btnSelect {
            margin-top: 18px !important;
            .btn {
                width: 80px !important;
                height: 32px !important;
                font-size: 14px !important;
            }
        }
    }
    .session2 {
        .item {
            border-radius: 5px !important;
            padding: 8px !important;
            p {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                margin: 0 auto !important;
                max-width: 340px !important;
                background-color: $colorDark + 48 !important;
                height: 34px !important;
                border-radius: 5px 5px 0 0 !important;
                font-size: 15px !important;
                text-align: center !important;
                color: $colorWhite !important;
            }
            img {
                box-shadow: $boxShadow !important;
                background: $colorWhite !important;
                max-width: 300px !important;
            }
        }
    }
}