@keyframes amimationDown {
    0% {
        top: -50px;
    }
    50% {
        top: -40px;
    }
    100% {
        top: -50px;
    }
}
html {
    scroll-behavior: smooth;
}
#godown {
    margin-top: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    i {
        transition: 0.2s ease-in-out;
        cursor: pointer;
        animation: amimationDown 2s infinite;
        font-size: 28px;
        position: absolute;
        top: -40px;
        height: 5px;
        width: 5px;
        bottom: 0;
        color: white;
        left: 50%;
    }
}

#container_popup {
    z-index: 6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    #areaPopup {
        animation: animate;
        animation-duration: 1s;
        z-index: 4;
        width: 60%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        #closeBtn {
            text-align: right;
            width: 100%;
            i {
                color: white;
                cursor: pointer;
                position: relative;
                background-color: $colorDark;
                padding: 2px 8px;
                border-radius: 50px;
                top: 20px;
                left: 14px;
                transition: 0.1s;
                &:hover {
                    color: red;
                    background-color: $colorDark;
                }
            }
        }
    }
    #overlayPopup {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.header {
    max-height: 100vh;
    position: relative;
    .overlayNav {
        z-index: 1;
        position: absolute;
        background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
        height: 200px;
        width: 100%;
    }
    
    .banner {
        user-select: none;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        .overlay {
            z-index: 2;
            position: absolute;
            background-color: rgba(34, 34, 34, 0.4);
            // background-color: rgba(34, 34, 34, 0.28);
            width: 100%;
            height: 100%;
        }
        .slide {
            width: 100%;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100vh;
            transition: 1.4s;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
        .flexCenter {
            width: 100%;
            height: 100vh !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .textArea {
                font-family: 'Kanit', sans-serif;
                text-align: center;
                z-index: 3;
                margin: 0 auto;
                width: 100% !important;
                .largeText {
                    p {
                        color: $colorWhite;
                        font-weight: 300;
                        margin-top: 20px;
                        font-size: 52px;
                        text-shadow: 3px 2px rgba(0, 0, 0, 0.28);
                        letter-spacing: 2px;
                    }
                }
                .smallText {
                    color: rgba(255, 255, 255, 0.68);
                    font-weight: 200;
                    margin-top: 28px;
                    font-size: 16px;
                    letter-spacing: 2.5px;
                    ;
                }
                .button {
                    font-family: 'Prompt', sans-serif;
                    display: inline-flex;
                    margin: 0 auto;
                    margin-top: 44px;
                    a {
                        margin: 0 10px 0 10px;
                        font-size: 24px;
                        font-weight: 200;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                    }
                    .btn1 {
                        transition: 0.4s;
                        a {
                            font-weight: 300;
                            padding: 4px 34px 4px 34px;
                            border: 1px solid #fff;
                            background-color: transparent;
                            &:hover {
                                transition: 0.2s;
                                color: rgb(230, 27, 0);
                                background-color: $colorWhite;
                            }
                        }
                        &:hover {
                            transform: scale(1.04, 1.04);
                        }
                    }
                    .btn2 {
                        transition: 0.4s;
                        a {
                            padding: 6px 28px 6px 28px;
                            background-color: rgb(197, 56, 0);
                            &:hover {
                                transition: 0.2s;
                                color: $colorWhite;
                                background-color: rgb(243, 69, 0);
                            }
                        }
                        &:hover {
                            transform: scale(1.04, 1.04);
                        }
                    }
                    .text1 {
                        padding: 10px 32px 10px 32px;
                        &:hover {
                            color: black;
                        }
                    }
                    .text2 {
                        padding: 10px 28px 10px 28px;
                    }
                }
            }
        }
    }
}

.containerMain {
    // margin-right: 0 !important;
    margin: 0 auto;
    padding-top: 820px !important;
    font-family: 'Prompt', sans-serif;
    max-width: 1200px;
    min-height: 100vh;
    .container_btnNews {
        width: 100%;
        text-align: center;
        margin-top: 28px;
        a {
            font-family: 'Kanit', sans-serif !important;
            font-weight: 300;
            font-size: 16px;
            color: $colorOrange + 40;
            text-decoration: none;
            padding: 6px 22px;
            border: 1px solid $colorOrange + 40;
            border-radius: 6px;
            background-color: transparent;
            &:hover {
                color: $colorWhite;
                transition: 0.4s;
                background-color: $colorOrange + 40;
                border: 1px solid transparent;
            }
        }
    }
    .container_news {
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        p {
            font-weight: 400;
            text-align: left;
            margin-left: 28px;
            margin-bottom: 12px;
            font-size: 22px;
        }
        .announceNews {
            margin: 0 auto;
            text-align: center;
            width: 560px;
            height: 340px;
            .announceImg {
                // padding: 20px;
                border-top: 2.8px solid $colorOrangeWhite;
                img {
                    max-width: 100%;
                    height: 340px;
                }
            }
        } 
    }
    .areaNews {
        margin: 0 auto;
        width: 560px;
        height: 300px;
        .tableNews {
            padding: 20px;
            font-family: 'Kanit', sans-serif;
            height: 100%;
            background-color: $colorWhite + 10;
            border-top: 2.8px solid $colorOrangeWhite;
            overflow: hidden;
            .headTable {
                display: grid;
                grid-template-columns: 80% 20%;
                margin-bottom: 22px;
                margin-top: 4px;
                span {
                    font-weight: 400;
                    font-size: 16px;
                }
                span:nth-child(1) {
                    text-align: left;
                }
                span:nth-child(2) {
                    text-align: center;
                }
            }
            .news {
                font-family: 'Kanit', sans-serif;
                display: grid;
                grid-template-columns: 80% 20%;
                margin-top: 9px;
                line-height: 1.5;
                a {
                    font-size: 14px;
                    margin-top: 20px;
                    text-align: left;
                    font-weight: 300;
                    text-decoration: none;
                    color: $colorDark;
                    &:hover {
                        color: $colorOrange;
                    }
                }
                span:nth-child(2) {
                    font-size: 15px;
                    font-weight: 300;
                    color: $colorOrange;
                    text-align: center;
                }
            }
        }
    }

    .container_contact {
        margin-top: 180px;
        p {
            // text-align: center;
            font-size: 22px;
            margin-left: 40px;
        }
        .areaContact {
            line-height: 1.8;
            font-family: 'Kanit', sans-serif;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 24px 0;
            margin-top: 14px;
            background-color: $colorWhite + 4;
            border-top: 2.8px solid #ff5100;
            justify-items: center;
            .map {
                width: 550px;
                height: 340px;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.28);
            }
            .contacts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 520px;
                height: 340px;
                #icon {
                    width: 100%;
                    height: 100%;
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .fb,
                .phone,
                .location {
                    display: grid;
                    width: 100%;
                    border-radius: 50px;
                    align-items: center;
                    padding: 14px 0px 10px 0px;
                    margin: 10px 0;
                    box-shadow: 1px 1px 6px 0 rgba(34, 34, 34, 0.4);
                    background-color: $colorWhite + 8;
                    p {
                        font-size: 14px;
                        margin-left: 56px;
                    }
                }
                .fb {
                    // color: $colorWhite;
                    // background-color: rgb(54, 83, 121);
                    height: 50px;
                    grid-template-columns: 40px 1fr 1fr;
                    // i { color: $colorWhite; }
                    i {
                        margin-bottom: 2px;
                        color: rgb(0, 74, 172);
                    }
                    p,
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    p {
                        font-size: 15px;
                        justify-content: flex-start;
                    }
                    a {
                        justify-content: center;
                        // color: $colorWhite;
                        color: $colorDark;
                        font-size: 14px;
                    }
                }
                .phone {
                    // color: $colorWhite;
                    // background-color: rgb(61, 119, 92);
                    grid-template-columns: 40px 1fr 1fr;
                    // i { color: $colorWhite; }
                    i {
                        color: rgb(0, 126, 10);
                    }
                    .number {
                        p {
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 2px;
                        }
                    }
                    .text {
                        p {
                            margin-left: 34px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
                .location {
                    // color: $colorWhite;
                    // background-color: rgb(116, 60, 60);
                    height: 50px;
                    grid-template-columns: 40px 100%;
                    // i { color: $colorWhite; }
                    i {
                        color: rgb(158, 0, 0);
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.container_popupNews {
    #closeBtnNews {
        position: fixed;
        width: 100%;
        z-index: 4;
        position: fixed;
        height: 40px;
        i {
            position: absolute;
            right: 20% !important;
            top: 10%;
            right: 20%;
            color: white;
            cursor: pointer;
        }
    }
    #overlayPopupNews {
        z-index: 3 !important;
        position: fixed;
        top: 0 !important;
        background-color:  rgba(0, 0, 0, 0.4);
        height: 100vh;
        width: 100%;
    }


    position: absolute !important;
    top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;    
    height: 100vh;
    .areaNews {
    z-index: 4;
    position: fixed !important;
        margin: 0 auto;
        width: 50%;
        // width: 560px;
        height: 80%;
        overflow-y: scroll;
        background-color: $colorWhite+40;
        .tableNews {
            padding: 20px;
            font-family: 'Kanit', sans-serif;
            height: 100%;
            background-color: $colorWhite + 10;
            border-top: 2.8px solid $colorOrangeWhite;
            .headTable {
                display: grid;
                grid-template-columns: 80% 20%;
                margin-bottom: 22px;
                margin-top: 4px;
                span {
                    font-weight: 400;
                    font-size: 16px;
                }
                span:nth-child(1) {
                    text-align: left;
                }
                span:nth-child(2) {
                    text-align: center;
                }
            }
            .news {
                font-family: 'Kanit', sans-serif;
                display: grid;
                grid-template-columns: 80% 20%;
                margin-top: 9px;
                line-height: 1.5;
                a {
                    font-size: 14px;
                    margin-top: 20px;
                    text-align: left;
                    font-weight: 300;
                    text-decoration: none;
                    color: $colorDark;
                    &:hover {
                        color: $colorOrange;
                    }
                }
                span:nth-child(2) {
                    font-size: 15px;
                    font-weight: 300;
                    color: $colorOrange;
                    text-align: center;
                }
            }
        }
    }
}


// All Responsive only !!
@media only screen and (min-width: 0px) and (max-width: 1200px) {
    // Phone
    .areaNav {
        max-width: 90% !important;
        .menu {
            display: none !important;
        }
        .menu-btn {
            display: block !important;
        }
    }
    .container_news {
        grid-template-columns: 1fr !important;
        .areaNews {
            margin-top: 160px !important;
        }
    }
    .container_contact {
        margin: 0 auto;
        margin-top: 0px !important;
        p {
            font-size: 12px !important;
            margin-left: 40px !important;
        }
        .areaContact {
            line-height: 1.2 !important;
            grid-template-rows: 1fr 1fr !important;
            grid-template-areas: 'contact contact' 'map map' !important;
            .map {
                height: 100px !important;
                grid-area: map !important;
            }
            .contacts {
                grid-area: contact !important;
            }
        }
    }
}


@media only screen and (min-width: 220px) and (max-width: 320px) {
    // Phone
    #container_popup {
        #areaPopup {
            width: 90% !important;
            max-height: 100% !important;
        }
        #closeBtn {
            text-align: right;
            width: 100%;
            i {
                font-size: 16px;
                padding: 2px 4px !important;
                top: 10px !important;
                left: 12px !important;
            }
        }
    }
    .banner {
        .slide {
            height: 32vh !important;
            background-position: center !important;
        }
        .textArea {
            position: absolute !important;
            top: 44%;
            // margin-top: -400px !important;
            height: 0px !important;
            p {
                letter-spacing: 1px !important;
                margin-top: 14px !important;
            }
            .largeText {
                margin: 0 auto !important;
                width: 100% !important;
                p {
                    font-size: 8px !important;
                }
            }
            .button {
                margin-top: 12px !important;
                a {
                    font-size: 8px !important;
                }
                .btn1 a {
                    padding: 4px 20px 4px 20px !important;
                    margin-right: 4px !important;
                }
                .btn2 a {
                    margin-left: 4px !important;
                    padding: 6px 14px 6px 14px !important;
                }
            }
        }
    }
    .areaContact {
        p {
            font-size: 8px !important;
        }
    }
    .containerMain {
        padding-top: -600px !important;
    }
    .header {
        .banner {
            height: 20vh !important;
            .flexCenter {
            height: 20vh !important;
            }
        }
    }
    
    // Phone
    .container_popupNews {
            position: absolute !important;
            top: 140px;
            display: flex;
            width: 100%;
            justify-content: center;    
            height: 100vh;
        .areaNews {
            z-index: 4;
            position: fixed !important;
            margin: 0 auto;
            width: 40%;
            height: 60% !important;
            overflow-y: scroll;
            background-color: $colorWhite+40;
        }
        #closeBtn {
            i {
                margin-top: -60px !important;
                right: 20% !important;
                top: -120px !important;
            }
        }
    }
    
    // Slide
    
    .marquee {
        font-size: 10px !important;
        top: -20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    // News
    
    .announceNews {
        width: 300px !important;
        height: 180px !important;
        margin-bottom: -60px !important;
        p {
            margin-left: 8px !important;
            font-size: 14px !important;
        }
        .announceImg {
            border-top: 1.4px solid $colorOrangeWhite !important;
            img {
                width: 100% !important;
                max-height: 180px !important;
            }
        }
        .container_btnNews {
            margin-top: 12px !important;
            a {
                font-weight: 300 !important;
                font-size: 10px !important;
                padding: 2px 8px !important;
                border: 1px solid $colorOrange + 40 !important;
                &:hover {
                    transition: 0.4s !important;
                    border: 1px solid transparent !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
    // Phone
    #container_popup {
        #areaPopup {
            width: 90% !important;
            max-height: 100% !important;
        }
        #closeBtn {
            text-align: right;
            width: 100%;
            i {
                font-size: 16px;
                padding: 2px 4px !important;
                top: 10px !important;
                left: 12px !important;
            }
        }
    }
    .banner {
        .slide {
            height: 280px !important;
            background-position: center !important;
        }
        .textArea {
            position: absolute !important;
            top: 100px;
            // margin-top: -400px !important;
            height: 0px !important;
            p {
                letter-spacing: 1px !important;
                margin-top: 14px !important;
            }
            .largeText {
                margin: 0 auto !important;
                width: 100% !important;
                p {
                    font-size: 12px !important;
                }
            }
            .smallText {
                margin-top: 2px !important;
                p {
                    font-size: 6px !important;
                }
            }
            .button {
                margin-top: 12px !important;
                a {
                    font-size: 8px !important;
                }
                .btn1 a {
                    padding: 4px 20px 4px 20px !important;
                    margin-right: 4px !important;
                }
                .btn2 a {
                    margin-left: 4px !important;
                    padding: 6px 14px 6px 14px !important;
                }
            }
        }
    }
    .areaContact {
        p {
            font-size: 8px !important;
        }
    }
    .containerMain {
        padding-top: 300px !important;
    }
    .header {
        .banner {
            height: 20vh !important;
            .flexCenter {
            height: 20vh !important;
            }
        }
    }
    
    // Phone
    .container_popupNews {
            position: absolute !important;
            top: 140px;
            display: flex;
            width: 100%;
            justify-content: center;    
            height: 100vh;
        .areaNews {
            z-index: 4;
            position: fixed !important;
            margin: 0 auto;
            width: 40%;
            height: 60% !important;
            overflow-y: scroll;
            background-color: $colorWhite+40;
        }
        #closeBtn {
            i {
                margin-top: -60px !important;
                right: 20% !important;
                top: -120px !important;
            }
        }
    }
    
    // Slide
    
    .marquee {
        font-size: 10px !important;
        top: -20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    // News
    
    .announceNews {
        width: 300px !important;
        height: 180px !important;
        margin-bottom: -60px !important;
        p {
            margin-left: 8px !important;
            font-size: 14px !important;
        }
        .announceImg {
            border-top: 1.4px solid $colorOrangeWhite !important;
            img {
                width: 100% !important;
                max-height: 180px !important;
            }
        }
        .container_btnNews {
            margin-top: 12px !important;
            a {
                font-weight: 300 !important;
                font-size: 10px !important;
                padding: 2px 8px !important;
                border: 1px solid $colorOrange + 40 !important;
                &:hover {
                    transition: 0.4s !important;
                    border: 1px solid transparent !important;
                }
            }
        }
    }
    // End
    
    // End
}

@media only screen and (min-width: 420px) and (max-width: 780px) {

    .areaNews {
        margin: 0 auto;
        width: 560px;
        height: 300px;
        .tableNews {
            padding: 20px;
            font-family: 'Kanit', sans-serif;
            height: 100%;
            background-color: $colorWhite + 10;
            border-top: 2.8px solid $colorOrangeWhite;
            overflow: hidden;
            .headTable {
                display: grid;
                grid-template-columns: 80% 20%;
                margin-bottom: 22px;
                margin-top: 4px;
                span {
                    font-weight: 400;
                    font-size: 16px;
                }
                span:nth-child(1) {
                    text-align: left;
                }
                span:nth-child(2) {
                    text-align: center;
                }
            }
            .news {
                font-family: 'Kanit', sans-serif;
                display: grid;
                grid-template-columns: 80% 20%;
                margin-top: 9px;
                line-height: 1.5;
                a {
                    font-size: 14px;
                    margin-top: 20px;
                    text-align: left;
                    font-weight: 300;
                    text-decoration: none;
                    color: $colorDark;
                    &:hover {
                        color: $colorOrange;
                    }
                }
                span:nth-child(2) {
                    font-size: 15px;
                    font-weight: 300;
                    color: $colorOrange;
                    text-align: center;
                }
            }
        }
    }

    .container_contact {
        margin-top: 180px;
        p {
            // text-align: center;
            font-size: 22px;
            margin-left: 40px;
        }
        .areaContact {
            line-height: 1.8;
            padding: 24px 0;
            margin-top: 14px;
            border-top: 2.8px solid #ff5100;
            .map {
                width: 550px;
                height: 340px;
            }
            .contacts {
                width: 520px;
                height: 340px;
                #icon {
                    width: 100%;
                    height: 100%;
                    margin-left: 20px;
                }
                .fb,
                .phone,
                .location {
                    width: 100%;
                    border-radius: 50px;
                    align-items: center;
                    padding: 14px 0px 10px 0px;
                    margin: 10px 0;
                    box-shadow: 1px 1px 6px 0 rgba(34, 34, 34, 0.4);
                    background-color: $colorWhite + 8;
                    p {
                        font-size: 14px !important;
                        margin-left: 56px;
                    }
                }
                .fb {
                    // color: $colorWhite;
                    // background-color: rgb(54, 83, 121);
                    height: 50px;
                    grid-template-columns: 40px 1fr 1fr;
                    // i { color: $colorWhite; }
                    i {
                        margin-bottom: 2px;
                        color: rgb(0, 74, 172);
                    }
                    p,
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    p {
                        font-size: 15px;
                        justify-content: flex-start;
                    }
                    a {
                        justify-content: center;
                        // color: $colorWhite;
                        color: $colorDark;
                        font-size: 14px;
                    }
                }
                .phone {
                    // color: $colorWhite;
                    // background-color: rgb(61, 119, 92);
                    grid-template-columns: 40px 1fr 1fr;
                    // i { color: $colorWhite; }
                    i {
                        color: rgb(0, 126, 10);
                    }
                    .number {
                        p {
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 2px;
                        }
                    }
                    .text {
                        p {
                            margin-left: 34px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
                .location {
                    // color: $colorWhite;
                    // background-color: rgb(116, 60, 60);
                    height: 50px;
                    grid-template-columns: 40px 100%;
                    // i { color: $colorWhite; }
                    i {
                        color: rgb(158, 0, 0);
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }






    .header {
        .banner {
            height: 40vh !important;
            .flexCenter {
            height: 40vh !important;
            }
        }
    }
    .containerMain {
        padding-top: 420px !important;
    }
    // ------------------------------------------ main page
    // Tablet Ipad
    #container_navbar {
        height: 40px !important;
        .areaNav {
            .textTitle {
                a {
                    font-size: 16px !important;
                }
            }
            .menu-btn {
                i {
                    font-size: 16px !important;
                }
            }
        }
    }
    // Slide
    .container_slide {
        height: 280px !important;
        width: 100% !important;
        .slide {
            height: 100%;
        }
    }
    .marquee {
        top: -20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    // News
    .container_news {
        height: 920px !important;
    }
    .announceNews {
        width: 530px !important;
        height: 280px !important;
        margin-bottom: -200px !important;
        .announceImg {
            border-top: 1.4px solid $colorOrangeWhite !important;
            img {
                width: 100% !important;
                max-height: 280px !important;
            }
        }
    }
    .areaNews {
        width: 530px !important;
        height: 280px !important;
    }
    // End
    // Contact
    .container_contact {
        display: grid;
        justify-content: center !important;
        margin-top: 40px !important;
        width: 550px !important;
        .textTitle {
            font-size: 22px !important
        }
        .areaContact {
            height: 444px !important;
            max-width: 500px !important;
            padding-top: 0 !important;
            padding-bottom: 120px !important;
            margin-top: -120 !important;
            .map {
                width: 90% !important;
                height: 200px !important;
            }
            .contacts {
                align-items: center;
                .fb,
                .phone,
                .location {
                    margin: 0 auto;
                    width: 400px !important;
                    .number {
                        p {
                            font-size: 10px !important;
                            margin-bottom: 2px !important;
                        }
                    }
                    p {
                        font-size: 11px !important;
                    }
                    a {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
    // End
    #container_popup {
        #areaPopup {
            width: 90% !important;
            max-height: 100% !important;
        }
        #closeBtn {
            text-align: right;
            width: 100%;
            i {
                font-size: 18px !important;
                padding: 2px 5px !important;
                top: 12px !important;
                left: 10px !important;
            }
        }
    }
    .banner {
        .slide {
            height: 40vh !important;
            background-position: center !important;
        }
        .textArea {
            position: absolute;
            top: 260px;
            margin-top: -120px !important;
            height: 0px !important;
            p {
                letter-spacing: 1px !important;
                margin-top: 6px !important;
            }
            .largeText {
                margin: 0 auto !important;
                width: 90% !important;
                p {
                    font-size: 28px !important;
                }
            }
            .smallText {
                margin-top: 24px !important;
                p {
                    font-size: 12px !important;
                }
            }
            .button {
                margin-top: 38px !important;
                a {
                    font-size: 18px !important;
                }
                .btn1 a {
                    padding: 4px 32px 4px 32px !important;
                    margin-right: 6px !important;
                }
                .btn2 a {
                    margin-left: 6px !important;
                    padding: 6px 26px 6px 26px !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 780px) and (max-width: 1200px) {
     
    .containerMain {
        padding-top: 280px !important;
    }
    // Tablet IpadPro
    #container_popup {
        #areaPopup {
            width: 80% !important;
            max-height: 100% !important;
        }
        #closeBtn {
            text-align: right;
            width: 100%;
            i {
                padding: 2px 6spx !important;
                top: 18px !important;
                left: 20px !important;
            }
        }
    }
    .banner {
        .slide {
            height: 100% !important;
            background-position: center !important;
        }
        .textArea {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 0px !important;
            p {
                margin-top: 6px !important;
            }
            .largeText {
                margin-right: 0 !important;
                margin: 0 auto !important;
                width: 90% !important;
                p {
                    font-size: 36px !important;
                }
            }
            .smallText {
                margin-top: 24px !important;
                p {
                    font-size: 18px !important;
                }
            }
            .button {
                margin-top: 48px !important;
                a {
                    font-size: 24px !important;
                }
                .btn1 a {
                    padding: 4px 32px 4px 32px !important;
                    margin-right: 8px !important;
                }
                .btn2 a {
                    margin-left: 8px !important;
                    padding: 6px 26px 6px 26px !important;
                }
            }
        }
    }

    //  ---------------------------------------- mainpage
    .containerMain {
        padding-top: 100vh !important;

        .container_contact {
            margin-top: -10px !important;

            .textTitle {
                text-align: center !important;
            }
        }
    }

    // Tablet IpadPro
    // News
    .container_news {
        height: 1000px !important;
    }
    .announceNews {
        width: 530px !important;
        height: 320px !important;
        margin-bottom: -180px !important;
        .announceImg {
            border-top: 2.8px solid $colorOrangeWhite !important;
            img {
                width: 100% !important;
                max-height: 320px !important;
            }
        }
    }
    .areaNews {
        width: 530px !important;
        height: 280px !important;
    }
    // End
    // Contacct
    .container_contact {
        margin-top: -60px !important;
        width: 550px !important;
        .textTitle {
            font-size: 22px !important
        }
        .areaContact {
            height: 444px !important;
            max-width: 600px !important;
            padding-top: 0 !important;
            margin-top: -120 !important;
            .map {
                width: 90% !important;
            }
        }
    }
    // End
}




















// Main -------------------------------------------------

    // Height navbar scroll
    @media only screen and (min-height: 0px) and (max-height: 560px) {
        .side-bar {
            overflow: scroll !important;
        }
    }

    // Default media responsive
    @media only screen and (min-width: 280px) and (max-width: 420px) {
        // Phone
        .container_popupNews {
                position: absolute !important;
                top: 140px;
                display: flex;
                width: 100%;
                justify-content: center;    
                height: 100vh;
            .areaNews {
                z-index: 4;
                position: fixed !important;
                margin: 0 auto;
                width: 40%;
                height: 60% !important;
                overflow-y: scroll;
                background-color: $colorWhite+40;
            }
            #closeBtn {
                i {
                    margin-top: -60px !important;
                    right: 20% !important;
                    top: -120px !important;
                }
            }
        }
        
        #container_navbar {
            height: 40px !important;
            .areaNav {
                .textTitle {
                    a {
                        font-size: 12px !important;
                    }
                }
                .menu-btn {
                    i {
                        font-size: 14px !important;
                    }
                }
            }
        }
        // Slide
        .container_slide {
            height: 260px !important;
            width: 100% !important;
            .slide {
                height: 100%;
            }
        }
        .marquee {
            font-size: 10px !important;
            top: -20px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.4);
        }
        // News
        .container_news {
            margin-top: -40px !important;
        }
        .announceNews {
            width: 300px !important;
            height: 180px !important;
            margin-bottom: -60px !important;
            p {
                margin-left: 8px !important;
                font-size: 14px !important;
            }
            .announceImg {
                border-top: 1.4px solid $colorOrangeWhite !important;
                img {
                    width: 100% !important;
                    max-height: 180px !important;
                }
            }
            .container_btnNews {
                margin-top: 12px !important;
                a {
                    font-weight: 300 !important;
                    font-size: 10px !important;
                    padding: 2px 8px !important;
                    border: 1px solid $colorOrange + 40 !important;
                    &:hover {
                        transition: 0.4s !important;
                        border: 1px solid transparent !important;
                    }
                }
            }
        }
        .areaNews {
            width: 300px !important;
            height: 154px !important;
            p {
                margin-left: 8px !important;
                font-size: 14px !important;
            }
            .tableNews {
                padding: 4px !important;
                max-width: 300px !important;
                height: 100% !important;
                border-top: 1.4px solid $colorOrangeWhite !important;
                .headTable {
                    margin-bottom: 10px !important;
                    margin-top: 4px !important;
                    span {
                        font-weight: 400 !important;
                        font-size: 8px !important;
                    }
                }
                .news {
                    grid-template-columns: 80% 20% !important;
                    margin-top: 6px !important;
                    line-height: 0.8 !important;
                    a {
                        font-size: 8px !important;
                        margin-top: 20px !important;
                        font-weight: 300 !important;
                        &:hover {
                            color: $colorOrange !important;
                        }
                    }
                    span:nth-child(2) {
                        margin-top: 6px !important;
                        font-size: 8px !important;
                        font-weight: 300 !important;
                    }
                }
            }
            .container_btnNews {
                margin-top: 12px !important;
                a {
                    font-weight: 300 !important;
                    font-size: 10px !important;
                    padding: 2px 8px !important;
                    border: 1px solid $colorOrange + 40 !important;
                    &:hover {
                        transition: 0.4s !important;
                        border: 1px solid transparent !important;
                    }
                }
            }
        }
        // End
        // Contact
        .container_contact {
            display: grid;
            justify-content: center !important;
            margin-top: 120px !important;
            width: 95% !important;
            .textTitle {
                font-size: 14px !important;
                margin: 0 0 0 8px !important;
            }
            .areaContact {
                border-top: 1.4px solid $colorOrangeWhite !important;
                max-width: 300px !important;
                padding-top: 0 !important;
                margin-top: -120 !important;
                height: 400px !important;
                .map {
                    margin-top: 10px !important;
                    height: 160px !important;
                    width: 90% !important;
                }
                .contacts {
                    align-items: center !important;
                    margin: 0px 0px !important;
                    height: 240px !important;
                    width: 100% !important;
                    #logo {
                        margin-right: 50px !important;
                    }
                    .fb {
                        grid-template-columns: 20px 1fr 1fr !important;
                        height: 20px !important;
                        p,
                        a {
                            margin-top: -1.5px !important;
                            font-size: 9px !important;
                        }
                    }
                    .phone {
                        grid-template-columns: 20px 150px 90px !important;
                        height: 50px !important;
                        p {
                            font-size: 9px !important;
                        }
                        .number {
                            p {
                                margin-left: 34px !important;
                            }
                        }
                        .text {
                            p {
                                margin-left: 24px !important;
                            }
                        }
                    }
                    .location {
                        grid-template-columns: 20px 1fr !important;
                        height: auto !important;
                        p {
                            margin-left: 50px !important;
                            font-size: 8px !important;
                        }
                    }
                    .fb,
                    .phone,
                    .location {
                        margin: 0 auto;
                        width: 300px !important;
                        width: 280px !important;
                        .number {
                            p {
                                font-size: 8px !important;
                                margin-bottom: 2px !important;
                            }
                        }
                        .text {
                            margin-left: -20px !important;
                        }
                    }
                }
            }
        }
        // End
    }

    @media only screen and (min-width: 420px) and (max-width: 780px) {
        .container_popupNews {
            position: absolute !important;
            top: 110px;
            display: flex;
            width: 100%;
            justify-content: center;    
            height: 100vh;
            .areaNews {
                z-index: 4;
                position: fixed !important;
                margin: 0 auto;
                width: 40%;
                height: 80% !important;
                overflow-y: scroll;
                background-color: $colorWhite+40;
            }
            #closeBtn {
                i {
                    margin-top: -60px !important;
                    right: 20% !important;
                    top: -120px !important;
                }
            }
        }
        // Tablet Ipad
        #container_navbar {
            height: 40px !important;
            .areaNav {
                .textTitle {
                    a {
                        font-size: 16px !important;
                    }
                }
                .menu-btn {
                    i {
                        font-size: 16px !important;
                    }
                }
            }
        }
        // Slide
        .container_slide {
            height: 280px !important;
            width: 100% !important;
            .slide {
                height: 100%;
            }
        }
        .marquee {
            top: -20px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.4);
        }
        // News
        .container_news {
            height: 920px !important;
        }
        .announceNews {
            width: 530px !important;
            height: 280px !important;
            margin-bottom: -200px !important;
            .announceImg {
                border-top: 1.4px solid $colorOrangeWhite !important;
                img {
                    width: 100% !important;
                    max-height: 280px !important;
                }
            }
        }
        .areaNews {
            width: 530px !important;
            height: 280px !important;
        }
        // End
        // Contact
        .container_contact {
            display: grid;
            justify-content: center !important;
            margin-top: 40px !important;
            width: 550px !important;
            .textTitle {
                font-size: 22px !important
            }
            .areaContact {
                height: 444px !important;
                max-width: 500px !important;
                padding-top: 0 !important;
                margin-top: -120 !important;
                .map {
                    width: 90% !important;
                }
                .contacts {
                    align-items: center;
                    .fb,
                    .phone,
                    .location {
                        margin: 0 auto;
                        width: 400px !important;
                        .number {
                            p {
                                font-size: 10px !important;
                                margin-bottom: 2px !important;
                            }
                        }
                        p {
                            font-size: 11px !important;
                        }
                        a {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
        // End
    }

    @media only screen and (min-width: 780px) and (max-width: 1200px) {
        .container_popupNews {
            position: absolute !important;
            top: 140px;
            display: flex;
            width: 100%;
            justify-content: center;    
            height: 100vh;
            .areaNews {
                z-index: 4;
                position: fixed !important;
                margin: 0 auto;
                width: 40%;
                height: 80% !important;
                overflow-y: scroll;
                background-color: $colorWhite+40;
            }
            #closeBtn {
                i {
                    margin-top: -60px !important;
                    right: 20% !important;
                    top: -120px !important;
                }
            }
        }
        // News
        .container_news {
            height: 1000px !important;
        }
        .announceNews {
            width: 530px !important;
            height: 320px !important;
            margin-bottom: -180px !important;
            .announceImg {
                border-top: 2.8px solid $colorOrangeWhite !important;
                img {
                    width: 100% !important;
                    max-height: 320px !important;
                }
            }
        }
        .areaNews {
            width: 530px !important;
            height: 280px !important;
        }
        // End
        // Contacct
        .container_contact {
            margin-top: 40px !important;
            width: 550px !important;
            .textTitle {
                font-size: 22px !important
            }
            .areaContact {
                height: 444px !important;
                max-width: 600px !important;
                padding-top: 0 !important;
                margin-top: -120 !important;
                .map {
                    width: 90% !important;
                }
            }
        }
        // End
    }