body {
    overflow-x: hidden !important;
}

.deactive {
    display: none !important;
}

.activeFlex {
    display: flex !important;
}

.activeSidebar {
    right: 0 !important;
}

.activeOverlay {
    display: block !important;
}

.deScroll {
    overflow: hidden !important;
}

// navbarrrrrrrrrrr
.navSticky {
    height: 45px !important;
    background-color: rgb(110, 20, 20) !important;
}

#container_navbar {
    box-shadow: 0px 0px 8px #000;
    z-index: 1;
    user-select: none;
    position: fixed;
    font-family: 'Prompt', sans-serif;
    width: 100%;
    height: 60px;
    top: 0px !important;
    background-color: rgb(110, 20, 20);
    transition: 0.2s ease-in-out;
    .areaNav {
        transition: 0.4s ease-in-out;
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
        }
        .textTitle {
            margin-top: -2px;
            a {
                // font-family: 'Kanit', sans-serif;
                font-family: 'Prompt', sans-serif;
                margin-left: 16px;
                letter-spacing: 1.4px;
                font-size: 24px;
                font-weight: 300;
                color: $colorWhite;
            }
        }
        .menu {
            display: flex;
            flex-direction: row;
            .item {
                margin: 0 24px;
                a {
                    transition: 0.2s ease-in-out;
                    color: $colorWhite;
                    font-size: 16px;
                    i {
                        font-size: 12px;
                        margin-left: 4px;
                    }
                    &:hover {
                        color: yellowgreen + 40;
                    }
                }
 
                .verSubMenuMain {
                    display: none;
                    flex-direction: column;
                    margin-left: -20px;
                    line-height: 40px;
                    padding: 0 36px 8px 36px;
                    margin-top: 21px;
                    background-color: rgba(0, 0, 0, 0.6);
                    position: absolute;
                }
            }
            
            .userLogin {
                span {
                    margin-right: 4px;
                    letter-spacing: 1px;
                    color: yellowgreen + 40;
                    // color: rgb(255, 166, 0);
                }
                a {
                    letter-spacing: 2px;
                    &:hover {
                        color: yellowgreen + 40;
                        // color: rgb(255, 166, 0) !important;
                    }
                }
            }
        }
        .menu-btn {
            i {
                cursor: pointer;
                margin-top: 2px;
                margin-right: 8px;
                color: white;
                font-size: 20px;
            }
        }
    }
}

// Responsive sidebar Menu !!
.overlay {
    top: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.side-bar {
    transition: 0.3s ease-in-out;
    z-index: 3;
    font-family: 'Prompt', sans-serif;
    user-select: none;
    position: fixed;
    top: 0;
    width: 260px;
    height: 100vh;
    right: -260px;
    background: $colorDark;
    .close-btn-sidebar {
        z-index: 16;
        position: absolute;
        color: #fff;
        right: 0;
        margin-top: 14px;
        margin-right: 234px;
        cursor: pointer;
    }
    .menu {
        width: 100%;
        margin-top: 80px;
    }
    .userLogin {
        display: flex;
        flex-direction: row;
        margin: 100px 0 40px 0;
        a {
            text-align: center;
            width: 100%;
            padding: 0 !important;
            font-size: 18px !important;
            letter-spacing: 3px !important;
            &:hover {
                color: rgb(255, 166, 0);
                background: transparent !important;
            }
        }
        span {
            letter-spacing: 1px !important;
            color: rgb(255, 166, 0) !important;
        }
    }
    .item {
        position: relative;
        cursor: pointer;
        a {
            letter-spacing: 1px;
            color: $colorWhite;
            font-size: 14px;
            text-decoration: none;
            display: block;
            padding: 5px 30px;
            line-height: 40px;
            &:hover {
                background: $colorOrange;
                transition: 0.3s ease-in-out;
            }
            .dropdown {
                position: absolute;
                right: 0;
                margin: 12px 16px 20px 0;
                ;
            }
        }
        .sub-menu {
            display: none;
            background: #333;
            a {
                padding-left: 60px;
            }
        }
        .rotate {
            transition: 0.2s ease-in-out;
            transform: rotate(90deg);
        }
    }
}

// Height navbar scroll
@media only screen and (min-height: 0px) and (max-height: 560px) {
    .side-bar {
        overflow: scroll !important;
    }
}

// Default media responsive
@media only screen and (min-width: 280px) and (max-width: 420px) {
    // Phone
    #container_navbar {
        height: 40px !important;
        .areaNav {
            .textTitle {
                a {
                    font-size: 12px !important;
                }
            }
            .menu-btn {
                i {
                    font-size: 14px !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 420px) and (max-width: 780px) {
    // Tablet Ipad
    #container_navbar {
        height: 40px !important;
        .areaNav {
            .textTitle {
                a {
                    font-size: 16px !important;
                }
            }
            .menu-btn {
                i {
                    font-size: 16px !important;
                }
            }
        }
    }
}