@keyframes animateZoomImg {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

#container_ImageZoom {
    animation-name: animateZoomImg;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    z-index: 6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    #areaImageRoomZoom {
        z-index: 7;
        // overflow-y: scroll;
        width: 66%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    #closeBtnImageZoom {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: right;
        right: 44px;
        i {
            z-index: 6;
            position: absolute;
            color: white;
            cursor: pointer;
            position: relative;
            padding: 2px 8px;
            border-radius: 50px;
            top: 20px;
            left: 14px;
            transition: 0.1s;
            &:hover {
                color: red;
            }
        }
    }
    #overlayImageZoom {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.container {
    height: 100% !important;
}

.areaSample {
    margin: 0 auto;
    margin-top: 160px;
    max-width: 1200px;
    .areaSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .title {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 46px;
        .txtSample {
            font-weight: 300;
            font-size: 48px;
        }
    }
    .status {
        text-align: center;
        font-weight: 400;
        letter-spacing: 2px;
        color: $colorOrange - 20;
        margin-left: 38px;
        font-size: 28px;
    }
    .txtSelect {
        font-size: 18px;
        text-align: center;
        margin-bottom: 24px;
    }
    .select {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        .btn {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 34px;
            // width: 100px;
            height: 42px;
            width: 120px;
            margin: 0 10px;
            background-color: $colorOrange;
            color: white;
            transition: 0.2s ease-in-out;
            border-radius: 5px;
            font-size: 16px;
            &:hover {
                transform: scale(1.06, 1.06);
                background-color: $colorOrange - 40;
            }
        }
    }
    .description {
        margin-top: 48px;
        text-align: left;
        p {
            margin-left: 110px;
            font-size: 19px;
            color: $colorDark;
            margin-bottom: 18px;
        }
        .textDescript {
            margin-left: 160px;
            line-height: 2;
            font-size: 17px;
            margin-top: 8px;
            li {
                list-style: inside !important;
            }
        }
    }
    .areaImage {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 140px;
        .dorm {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1rem;
            row-gap: 1rem;
            img {
                border-radius: 5px;
                margin: 16px;
                padding: 8px;
                box-shadow: $boxShadow;
                background: $colorWhite;
                max-width: 520px;
                height: 100%;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@media only screen and (min-width: 280px) and (max-width: 420px) {
    #container_ImageZoom {
        #areaImageRoomZoom {
            overflow: hidden !important;
            width: 100% !important;
            top: 0 !important;
            max-height: 100% !important;
        }
        #closeBtnImageZoom {
            display: none !important;
            // width: 100% !important;
            // text-align: right !important;
            // // right: 14px;
            // i {
            //     font-size: 14px !important;
            //     padding: 2px 8px !important;
            //     border-radius: 50px !important;
            //     top: 140px !important;
            //     // right: -44px !important;
            // }
        }
    }
    .areaSample {
        margin-top: 100px !important;
        max-width: 1200px !important;
        .areaSection {
            grid-template-rows: auto auto !important;
            grid-template-areas: 'session1 session1' 'session2 session2' !important;
        }
        .session1 {
            grid-area: session1 !important;
        }
        .session2 {
            grid-area: session2 !important;
        }
        .title {
            margin-top: 24px !important;
            margin-bottom: 26px !important;
            .txtSample {
                font-weight: 300 !important;
                font-size: 38px !important;
            }
        }
        .status {
            margin-left: 0 !important;
            margin-top: 8px;
            font-weight: 400 !important;
            letter-spacing: 2px !important;
            font-size: 20px !important;
        }
        .txtSelect {
            font-size: 16px !important;
            margin-bottom: 16px !important;
        }
        .select {
            .btn {
                height: 34px !important;
                width: 100px !important;
                margin: 0 10px !important;
                font-size: 14px !important;
            }
        }
        .description {
            margin-top: 8px !important;
            p {
                margin-top: 32px !important;
                margin-left: 22px !important;
                text-align: left !important;
                font-size: 16px !important;
            }
            .textDescript {
                font-size: 14px !important;
                text-align: left !important;
                margin-top: 18px !important;
                margin-left: 26px !important;
                line-height: 1.5 !important;
            }
        }
        .areaImage {
            max-width: 1200px !important;
            margin: 0 auto !important;
            margin-top: 80px !important;
            margin-bottom: 140px !important;
            .dorm {
                img {
                    margin: 10px !important;
                    padding: 8px !important;
                    box-shadow: $boxShadow !important;
                    background: $colorWhite !important;
                    width: 320px !important;
                    height: 100% !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 420px) and (max-width: 780px) {
    #container_ImageZoom {
        #areaImageRoomZoom {
            text-align: center;
            overflow: hidden !important;
            width: 90% !important;
            top: 0 !important;
            margin: 0 auto;
            max-height: 100% !important;
        }
        #closeBtnImageZoom {
            display: none !important;
            // width: 100% !important;
            // text-align: right !important;
            // // right: 14px;
            // i {
            //     font-size: 14px !important;
            //     padding: 2px 8px !important;
            //     border-radius: 50px !important;
            //     top: 140px !important;
            //     // right: -44px !important;
            // }
        }
    }
    .areaSample {
        margin-top: 100px !important;
        max-width: 1200px !important;
        .areaSection {
            grid-template-rows: 1fr 1fr !important;
            grid-template-areas: 'session1 session1' 'session2 session2' !important;
        }
        .session1 {
            grid-area: session1 !important;
        }
        .session2 {
            grid-area: session2 !important;
        }
        .title {
            margin-top: 34px !important;
            margin-bottom: 46px !important;
            .txtSample {
                font-weight: 300 !important;
                font-size: 38px !important;
            }
        }
        .status {
            margin-left: 0 !important;
            margin-top: -10px;
            font-weight: 400 !important;
            letter-spacing: 2px !important;
            font-size: 24px !important;
        }
        .txtSelect {
            font-size: 16px !important;
            margin-bottom: 22px !important;
        }
        .select {
            .btn {
                height: 34px !important;
                width: 100px !important;
                margin: 0 10px !important;
                font-size: 14px !important;
            }
        }
        .description {
            margin-top: 8px !important;
            p {
                margin-top: 38px !important;
                margin-left: -320px !important;
                text-align: center !important;
                font-size: 18px !important;
            }
            .textDescript {
                margin-top: 18px !important;
                margin-left: 240px !important;
                line-height: 2 !important;
            }
        }
        .areaImage {
            max-width: 1200px !important;
            margin: 0 auto !important;
            margin-top: 60px !important;
            .dorm {
                img {
                    margin: 4px !important;
                    padding: 8px !important;
                    box-shadow: $boxShadow !important;
                    background: $colorWhite !important;
                    width: 720px !important;
                    height: 100% !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 780px) and (max-width: 1400px) {
    .areaSample {
        margin: 0 auto;
        margin-top: 200px;
        max-width: 1200px;
        .areaSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }
        .title {
            text-align: center;
            margin-top: 32px;
            margin-bottom: 46px;
            .txtSample {
                font-weight: 300;
                font-size: 48px;
            }
        }
        .status {
            text-align: center;
            font-weight: 400;
            letter-spacing: 2px;
            color: $colorOrange - 20;
            margin-left: -20px !important;
            font-size: 28px;
        }
        .txtSelect {
            font-size: 18px;
            text-align: center;
            margin-bottom: 24px;
        }
        .select {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            .btn {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                // height: 34px;
                // width: 100px;
                height: 42px;
                width: 120px;
                margin: 0 10px;
                background-color: $colorOrange;
                color: white;
                transition: 0.2s ease-in-out;
                border-radius: 5px;
                font-size: 16px;
                &:hover {
                    transform: scale(1.06, 1.06);
                    background-color: $colorOrange - 40;
                }
            }
        }
        .description {
            margin-top: 48px;
            text-align: left;
            p {
                margin-left: 60px;
                font-size: 20px;
                color: $colorDark;
                margin-bottom: 18px;
            }
            .textDescript {
                font-size: 14px !important;
                margin-left: 80px;
                line-height: 2;
                margin-top: 8px;
                li {
                    list-style: inside !important;
                }
            }
        }
        .areaImage {
            max-width: 1200px !important;
            margin: 0 auto !important;
            margin-top: 80px !important;
            margin-bottom: 140px !important;
            .dorm {
                img {
                    margin: 20px !important;
                    padding: 8px !important;
                    box-shadow: $boxShadow !important;
                    background: $colorWhite !important;
                    width: 420px !important;
                    height: 100% !important;
                }
            }
        }
    }
}