// font-family: 'Mitr', sans-serif;
// font-family: 'Prompt', sans-serif;
// font-family: 'Kanit', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$colorDark: #222;
$colorWhite: rgb(240,
240,
240);
$colorWhiteHover: rgb(200,
200,
200);
$colorOrange: rgb(173,
35,
0);
$colorOrangeWhite: rgb(255,
81,
0);
$colorContent: rgb(240,
239,
239);
$boxShadow: 0px 2px 5px 0px rgba(0,
0,
0,
0.08);
.active {
    display: block !important;
}

.deactive {
    display: none !important;
}

.descrolling {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: $colorContent;
}

.container_sass {
    margin: 0 auto;
    font-family: "Prompt", sans-serif;
    min-height: 100%;
}

.userSelectNone {
    user-select: none;
}

#loading {
    cursor: default;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
    transition: 0.4s ease-in-out;
}

@import "_resetBrowser";
@import "_navbar";
@import "_footer";
@import "_index";
@import "_login";
@import "_register";
@import "_dormFee";
@import "_dormPlan";
@import "_roomSample";
@import "_roomBook";
@import "_profile";
@import "_forgot";
@import "_roomBookReport";
@import "_roomBookReportPrint";
// verySmall size don't support
@media only screen and (max-width: 280px) {
    * {
        display: none;
    }
}


/*
@media only screen and (min-width: 0px) and (max-width: 1200px) {}
@media only screen and (min-width: 280px) and (max-width: 420px) {}
@media only screen and (min-width: 420px) and (max-width: 780px) {}
@media only screen and (min-width: 780px) and (max-width: 1400px) {}
*/